<!-- <h2>Contact</h2> -->
<section class="contact">
    <div class="container container__contact">
    <form class="contact__form">
      <h3 class="contact__title">Contact</h3>
      <p class="contact__text">We will answer any question!</p>
      <label class="modal__label">
        <input type="email" class="modal__input" name="modal-mail" placeholder="Email" />
      </label>

      <label class="modal__label">
        <input
          type="comment"
          class="modal__textarea"
          name="modal-comment"
          placeholder="Type your question">
      </label>

      <button type="submit" class="contact__but">Send</button>
    </form>
    

    <ul class="contact__internet">
      <li class="contact__pack">
        <a href="" class="contact__socium">
          <svg class="contact__svg" width="16" height="16">
            <use href="../image/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="contact__pack">
        <a href="" class="contact__socium">
          <svg class="contact__svg" width="16" height="16">
            <use href="../image/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="contact__pack">
        <a href="" class="contact__socium">
          <svg class="contact__svg" width="16" height="16">
            <use href="../image/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    </div>
  </section>
