<!-- <span>(910)222-8855</span> -->
<footer class="footerr">
    <div class="container container__footerr">
        <address class="footerr__address">
            <ul class="footerr__item">
                <li>
                <a href="tel:(910)2228855" class="footerr__phone">
                    <svg class="footerr__svg" width="12" height="12">
                        <use href="../image/icons.svg#icon-phone"></use>
                    </svg>
                    (910)222-8855
                </a>
                </li>
                <li>
                <a href="https://goo.gl/maps/DPBan6ss9dVbsRmy8" class="footerr__map" target="_blank">
                    <svg class="footerr__svg" width="12" height="12">
                    <use href="../image/icons.svg#icon-map-point"></use>
                    </svg>
                New York
                </a>
                </li>
            </ul>
            <a href="./index.html" class="footerr__link">
                <img src="../image/footerr-link.png" alt="" width="60" height="40">
            </a>
        </address>
    </div>
</footer>
