<header class="header">
  <div class="container header__container">
    <nav>
      <a href="#">
        <img class="logo" src="#" alt="Donut Logo" />
      </a>
      <ul class="header__nav-list mob-menu">
        <li class="header__nav-item">
          <a href="#">About us</a>
        </li>

        <li class="header__nav-item">
          <a href="#">Program</a>
        </li>

        <li class="header__nav-item">
          <a href="#">Speakers</a>
        </li>

        <li class="header__nav-item">
          <a href="#">Price</a>
        </li>

        <li class="header__nav-item">
          <a href="#">Reviews</a>
        </li>

        <li class="header__nav-item">
          <a href="#">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
