<section class="hero-section">
  <div class="container">
    <div class="hero-title">
      <h1 class="hero-title-text">Donut Masterclass with the Donut King</h1>
      <p class="hero-title__post">Hosted by Eva Green</p>

      <div class="Button">
        <a href="#">Register</a>
      </div>
    </div>
    <ul class="soc-list">
      <li class="soc-list__item">
        <svg class="soc-list__icon" width="16" height="16">
          <use href="#"></use>
        </svg>
      </li>
      <li class="hero__item">
        <svg class="soc-list__icon" width="16" height="16">
          <use href="#"></use>
        </svg>
      </li>
      <li class="hero__item">
        <svg class="soc-list__icon" width="16" height="16">
          <use href="#"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
