<section class="section-prise">
  <div class="container">
    <h2>Price22222</h2>
    <ul class="prices">
      <li class="price__item">
        <h3 class="price__title">Easy start</h3>
        <ul class="prices-list">
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="./images/icons.svg#"></use>
            </svg>
            <p class="price__text">featuresdddd of yeast dough preparation</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>preparation of liquid caramel for stuffing</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>preparation of raspberry and strawberry filling</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>fry and glaze donuts</p>
          </li>
        </ul>
        <a class="button" href="#">Register</a>
      </li>
      <li class="price__item">
        <h3 class="price__title">I want delicious donuts</h3>
        <ul class="prices-list">
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>features of yeast dough preparation</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>preparation of liquid caramel for stuffing</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>preparation of raspberry and strawberry filling</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>melt chocolate for decoration</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>fry and glaze donuts</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>donut decoration. painting and various techniques</p>
          </li>
        </ul>
        <a class="button" href="#">Register</a>
      </li>
      <li class="price__item">
        <h3 class="price__title">Premium</h3>
        <ul class="prices-list">
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>features of yeast dough preparation</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>preparation of liquid caramel for stuffing</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>preparation of raspberry and strawberry filling</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>melt chocolate for decoration</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>fry and glaze donuts</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>donut decoration. painting and various techniques</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>After party and donut tasting with speakers</p>
          </li>
          <li class="price-list__item">
            <svg class="price-list__icon" width="24px" height="24px">
              <use href="#"></use>
            </svg>
            <p>2 private lessons with one of the speakers</p>
          </li>
        </ul>
        <a class="button" href="#">Register</a>
      </li>
    </ul>
  </div>
</section>
