<section class="price">
  <div class="container price__container">
    <h2 class="price__title">Price</h2>
    <ul class="price__list">
      <div class="price__box">
        <li class="price__item">
          <h3 class="price__item-title">Easy start</h3>
          <picture>
            <source
              srcset="
                ./image/prise-image/price-desktop-min.png     1x,
                ./image/prise-image/price-desktop2@2x-min.png 2x
              "
              media="(min-width:1280px)"
            />

            <source
              srcset="
                ./image/prise-image/price-tablet-min.png    1x,
                ./image/prise-image/price-tablet@2x-min.png 2x
              "
              media="(min-width:768px)"
            />

            <source
              srcset="
                ./image/prise-image/price-mobile-min.png    1x,
                ./image/prise-image/price-mobile@2x-min.png 2x
              "
              media="(max-width:767px)"
            />
            <img class="price__img" src="/image/prise-image/price-desktop-min.png" alt="price" />
          </picture>
          <ul class="price__item-menu">
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>

              <p class="price__item-text">features of yeast dough preparation</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">preparation of liquid caramel for stuffing</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">preparation of raspberry and strawberry filling</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">fry and glaze donuts</p>
            </li>
          </ul>
        </li>
        <button type="button" class="button button--price">Register</button>
      </div>

      <div class="price__box">
        <li class="price__item">
          <h3 class="price__item-title">I want delicious donuts</h3>
          <picture>
            <source
              srcset="
                ./image/prise-image/price-desktop-min.png     1x,
                ./image/prise-image/price-desktop2@2x-min.png 2x
              "
              media="(min-width:1280px)"
            />

            <source
              srcset="
                ./image/prise-image/price-tablet-min.png    1x,
                ./image/prise-image/price-tablet@2x-min.png 2x
              "
              media="(min-width:768px)"
            />

            <source
              srcset="./image/price-mobile-min.png 1x, ./image/price-mobile@2x-min.png 2x"
              media="(max-width:767px)"
            />
            <img class="price__img" src="/image/prise-image/price-desktop-min.png" alt="price" />
          </picture>
          <ul class="price__item-menu">
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">features of yeast dough preparation</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">preparation of liquid caramel for stuffing</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">preparation of raspberry and strawberry filling</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">melt chocolate for decoration</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">fry and glaze donuts</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">donut decoration. painting and various techniques</p>
            </li>
          </ul>
        </li>
        <button type="button" class="button button--price">Register</button>
      </div>

      <div class="price__box">
        <li class="price__item">
          <h3 class="price__item-title">Premium</h3>
          <picture>
            <source
              srcset="
                ./image/prise-image/price-desktop-min.png     1x,
                ./image/prise-image/price-desktop2@2x-min.png 2x
              "
              media="(min-width:1280px)"
            />

            <source
              srcset="
                ./image/prise-image/price-tablet-min.png    1x,
                ./image/prise-image/price-tablet@2x-min.png 2x
              "
              media="(min-width:768px)"
            />

            <source
              srcset="
                ./image/prise-image/price-mobile-min.png    1x,
                ./image/prise-image/price-mobile@2x-min.png 2x
              "
              media="(max-width:767px)"
            />
            <img class="price__img" src="/image/prise-image/price-desktop-min.png" alt="price" />
          </picture>
          <ul class="price__item-menu">
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>

              <p class="price__item-text">features of yeast dough preparation</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">preparation of liquid caramel for stuffing</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">preparation of raspberry and strawberry filling</p>
            </li>

            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">melt chocolate for decoration</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">fry and glaze donuts</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">donut decoration. painting and various techniques</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">After party and donut tasting with speakers</p>
            </li>
            <li class="price__item-svg">
              <svg class="prise__svg" width="24" height="24">
                <use href="./image/icons.svg#icon-list-disc"></use>
              </svg>
              <p class="price__item-text">2 private lessons with one of the speakers</p>
            </li>
          </ul>
        </li>
        <button type="button" class="button button--price">Register</button>
      </div>
    </ul>
  </div>
</section>
