<section class="program container">
  <h2 class="program__title">Program</h2>



<div class="read-more-container"> 

  <div class="read-more-wrap"> 

  <p class="program__text">
    Indulge in this immersive sweet treat experience with The Chef Donut Queen
    in her New York donut shop!
  </p>

  <ul class="program__list">
    <li class="program__item">A stand up history of donuts</li>
    <li class="program__item">Make 3 donut flavors of your choice</li>
    <li class="program__item">Enjoy all-you-can-eat donut</li>
    <li class="program__item">Cocktail pairings and coffee included</li>
    <li class="program__item">Photoshoot by professional photographe</li>
    <li class="program__item">Secret receipt of cooking from Eva</li>
    <li class="program__item">All products are included in the price</li>
  </ul>

      <p class="read-more-text">
      Come with your dear people and friends and you will spend an unforgettable
      time and will become a real professional in donuts cooking!
      </p>
  
  </div>

  <a class="read-more-btn">Read more</a>
</div>







  <div class="program_pic_item">
    <div class="program__thumb">
      <img
        class="program__pic"
        src="./images/program_img/prog1-130.png"
        alt="Тут має бути картинка"
      />
    </div>

    <div class="program__pic__text">
      <p class="program__pic__title">Type of the event</p>
      <span class="program__pic__subtitle">Cooking classes</span>
    </div>
  </div>



  <div class="program_pic_item">
    <div class="program__thumb">
      <img
        class="program__pic"
        src="./images/program_img/prog2-130.png"
        alt="Тут має бути картинка"
      />
    </div>

    <div class="program__pic__text">
      <p class="program__pic__title">Type of the event</p>
      <span class="program__pic__subtitle">Cooking classes</span>
    </div>
  </div>




  <div class="program_pic_item">
    <div class="program__thumb">
      <img
        class="program__pic"
        src="./images/program_img/prog3-130.png"
        alt="Тут має бути картинка"
      />
    </div>

    <div class="program__pic__text">
      <p class="program__pic__title">Type of the event</p>
      <span class="program__pic__subtitle">Cooking classes</span>
    </div>
  </div>







  <div class="program_pic_item">
    <div class="program__thumb">
      <img
        class="program__pic"
        src="./images/program_img/prog4-130.png"
        alt="Тут має бути картинка"
      />
    </div>

    <div class="program__pic__text">
      <p class="program__pic__title">Type of the event</p>
      <span class="program__pic__subtitle">Cooking classes</span>
    </div>
  </div>














  
  <!-- <div class="program_pic_item">

  <img class="program__pic"src="./images/program_img/mobile_1.png" alt="Тут має бути картинка"/>

  <div class="program__pic__text">
    <p>Type of the event</p>
    <span>Cooking classes</span>
  </div>
  
  </div>



  <div class="program_pic_item">

    <img width="130" height="130" src="./images/program_img/mobile_1.png" alt="Тут має бути картинка"/>
  
    <div class="program__pic__text">
      <p>Type of the event</p>
      <span>Cooking classes</span>
    </div>
    
    </div>




    <div class="program_pic_item">

        <img width="130" height="130" src="./images/program_img/mobile_1.png" alt="Тут має бути картинка"/>
      
        <div class="program__pic__text">
          <p>Type of the event</p>
          <span>Cooking classes</span>
        </div>
        
        </div>


        <div class="program_pic_item">

            <img width="130" height="130" src="./images/program_img/mobile_1.png" alt="Тут має бути картинка"/>
          
            <div class="program__pic__text">
              <p>Type of the event</p>
              <span>Cooking classes</span>
            </div>
            
            </div> -->

  <!-- <div class="program__pic__wrap">

    <div class="program__pic">
    <picture>
      <source
        srcset="
          ./images/program_img/mobile_1.png    1x,
          ./images/program_img/mobile_1@2x.png 2x
        "
        media="(min-width:320px)"
        type="image/png"
      />
    </picture>
    <img
      width="130" height="130"
      src="./images/program_img/mobile_1.png"
      alt="Тут має бути картинка"
    />
    <div class="program__pic__text">
      <p>Type of the event</p>
      <span>Cooking classes</span>
    </div>
    </div>






    <picture>
      <source
        srcset="
          ./images/program_img/mobile_3.png    1x,
          ./images/program_img/mobile_3@2x.png 2x
        "
        media="(min-width:320px)"
        type="image/png"
      />
    </picture>
    <img
      width="130"
      src="./images/program_img/mobile_3.png"
      alt="Тут має бути картинка"
    />
    <div class="program__pic__text">
      <p>Type of the even</p>
      <span>18:30 (2.5 hours)</span>
    </div>
  </div>










  <div class="program__pic__wrap">
    <picture>
      <source
        srcset="
          ./images/program_img/mobile_2.png    1x,
          ./images/program_img/mobile_2@2x.png 2x
        "
        media="(min-width:320px)"
        type="image/png"
      />
    </picture>
    <img
      width="130"
      src="./images/program_img/mobile_2.png"
      alt="Тут має бути картинка"
    />
    <div>
      <p>Number of guests</p>
      <span>1 to 20</span>
    </div>








    <picture>
      <source
        srcset="
          ./images/program_img/mobile_4.png    1x,
          ./images/program_img/mobile_4@2x.png 2x
        "
        media="(min-width:320px)"
        type="image/png"
      />
    </picture>
    <img
      width="130"
      src="./images/program_img/mobile_4.png"
      alt="Тут має бути картинка"
    />
    <div>
      <p>The host speaks</p>
      <span>English, French</span>
    </div>
  </div> -->
</section>
