<section class="program container">


  <div class="read-more-container">
    <div class="read-more-wrap">
      <h2 class="program__title">Program</h2>
      <p class="program__text">
        Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New York
        donut shop!
      </p>

      <ul class="program__list">
        <li><p class="program__item">A stand up history of donuts</p></li>
        <li><p class="program__item">Make 3 donut flavors of your choice</p></li>
        <li><p class="program__item">Enjoy all-you-can-eat donut</p></li>
        <li><p class="program__item">Cocktail pairings and coffee included</p></li>
        <li><p class="program__item">Photoshoot by professional photographe</p></li>
        <li><p class="program__item">Secret receipt of cooking from Eva</p></li>
        <li><p class="program__item">All products are included in the price</p></li>
      </ul>

      <p class="read-more-text">
        Come with your dear people and friends and you will spend an unforgettable time and will
        become a real professional in donuts cooking!
      </p>
    </div>
    <a class="read-more-btn">Read more</a>
  </div>



  <div class="program__pic">

    <div class="program_img-column-left">
      <!-- first img column -->

      <div class="program__thumb">
        <picture>
          <source
            srset="./images/program_img/prog1-288.png 1x, ./images/program_img/prog1-576.png 2x"
            media="(min-width:1280px) "
          />
          <source
            srset="./images/program_img/prog1-152.png 1x, ./images/program_img/prog1-304.png 2x"
            media="(min-width:768px)"
          />
          <source
            srset="./images/program_img/prog1-130.png 1x, ./images/program_img/prog1-260.png 2x"
            media="(max-width:767px)"
          />

        <img
          class="program__pic"
          src="./images/program_img/prog1-130.png"
          alt="Тут має бути картинка"
        />
        </picture>

        <div class="program__pic__text">
          <p class="program__pic__title">Type of the event</p>
          <span class="program__pic__subtitle">Cooking classes</span>
        </div>


      </div>






      <div class="program__thumb">
        <picture>
          <source
            srset="./images/program_img/prog2-288.png 1x, ./images/program_img/prog2-576.png 2x"
            media="(min-width:1280px)"
            type="image/png"
          />

          <source
            srset="./images/program_img/prog2-152.png 1x, ./images/program_img/prog2-304.png 2x"
            media="(min-width:768px)"
            type="image/png"
          />

          <source
            srset="./images/program_img/prog2-130.png 1x, ./images/program_img/prog2-260.png 2x"
            media="(max-width:767px)"
            type="image/png"
          />
        <img
          class="program__pic"
          src="./images/program_img/prog2-130.png"
          alt="Тут має бути картинка"
        />          
        </picture>

      </div>

      <div class="program__pic__text">
        <p class="program__pic__title">Type of the event</p>
        <span class="program__pic__subtitle">Cooking classes</span>
      </div>
    </div>





    <div class="program_img-column-right">
      <!-- second img column -->

      <div class="program__thumb">
        <picture>
          <source
            srset="./images/program_img/prog3-288.png 1x, ./images/program_img/prog3-576.png 2x"
            media="(min-width:1280px)"
          />

          <source
            srset="./images/program_img/prog3-152.png 1x, ./images/program_img/prog3-304.png 2x"
            media="(min-width:768px)"
          />

          <source
            srset="./images/program_img/prog3-130.png 1x, ./images/program_img/prog3-260.png 2x"
            media="(max-width:767px)"
          />
        <img
          class="program__pic"
          src="./images/program_img/prog3-130.png"
          alt="Тут має бути картинка"
        />          
        </picture>

      </div>

      <div class="program__pic__text">
        <p class="program__pic__title">Type of the event</p>
        <span class="program__pic__subtitle">Cooking classes</span>
      </div>

      <div class="program__thumb">
        <picture>
          <source
            srсset="./images/program_img/prog4-288.png 1x, ./images/program_img/prog4-576.png 2x"
            media="(min-width:1280px)"
          />

          <source
            srset="./images/program_img/prog4-152.png 1x, ./images/program_img/prog4-304.png 2x"
            media="(min-width:768px)"
          />

          <source
            srset="./images/program_img/prog4-130.png 1x, ./images/program_img/prog4-260.png 2x"
            media="(max-width:767px)"
          />
        <img
          class="program__pic"
          src="./images/program_img/prog4-130.png"
          alt="Тут має бути картинка"
        />          
        </picture>

      </div>

      <div class="program__pic__text">
        <p class="program__pic__title">Type of the event</p>
        <span class="program__pic__subtitle">Cooking classes</span>
      </div>
    </div>
  </div>
</section>
