<section class="container">
<h2 class="section__title reviews__tittle--position">Reviews</h2>
<picture>
    <source
    srcset="./images/reviews/desktop/will-min.png 1x, 
    ./images/reviews/desktop/will@2x-min.png 2x"
    media="(min-width:1280px)"/>
    <source srcset="./images/reviews/tablet/will-min.png 1x, 
    ./images/reviews/tablet/will@2x-min.png 2x" 
    media="(min-width:768px)"/>
    <source srcset="./images/reviews/mobile/will-min.png 1x, 
    ./images/reviews/mobile/will@2x-min.png 2x"
     media="(max-width:767px)"/>
     <img src="./images/reviews/mobile/will-min.png" 
     alt="will"/>
</picture>
<h3 class="reviews__name">Will</h3>
<p class="reviews__description">Last time I have visited a cooking course by Eva 
    I was impressed with the way she explained everything
    to people. You can be sure you will manage to cook a delicious 
    dish even if it is your first time in the kitchen!
   Thank you so much for the masterclass! Looking forward to 
   the next one and highly recommend it to everyone!</p>
   <span class="reviews__number">2/15</span>
</section>