<section class="hero-section">
    <div class="hero-title"></div>
    <h1 class="hero-title-text">Donut Masterclass with the Donut King</h1>
<p hero-title__post>Hosted by Eva Green</p></div>
<div class="Button">
    <a href="#">Register</a>
</div>
<ul class hero__list></ul>
<li class="hero__item"><svg width="16" height="16">
    <use href="./images/symbol.svg#icon-twitter"></use>
</svg> </li>
<li class="hero__item"><svg width="16" height="16">
        <use href="./images/symbol.svg#instagram"></use>
    </svg> </li>
    <li class="hero__item"><svg width="16" height="16">
            <use href="./images/symbol.svg#icon-facebook"></use>
        </svg> </li>
        <div class="Button-regist">
            <a href="#">Register</a>
        </div>
</section>