<section class="section" id="speakers">
    <div class="container">
        <h2 title="section__title">Speakers</h2>
        <ul class="speakers">
            <li class="speaker__item">
                <img src="#" alt="Speaker Molly Rivera" width="130" height="131">
                <h3 class="speaker__name">Molly Rivera</h3>
                <p class="speaker__about">Pastry chef, master chocolatier of Spain</p>
            </li>
            <li class="speaker__item">
                <img src="#" alt="Speaker Sophia Clark" width="130" height="131">
                <h3 class="speaker__name">Sophia Clark</h3>
                <p class="speaker__about">Сulinary school pastry chef</p>
            </li>
            <li class="speaker__item">
                <img src="#" alt="Speaker Isabella Taylor" width="130" height="131">
                <h3 class="speaker__name">Isabella Taylor</h3>
                <p class="speaker__about">Сonsultant in the art of confectionery</p>
            </li>
            <li class="speaker__item">
                <img src="#" alt="Speaker Evelyn Miller" width="130" height="131">
                <h3 class="speaker__name">Evelyn Miller</h3>
                <p class="speaker__about">Master-chocolatier in Spain</p>
            </li>
        </ul>
    </div>
</section>