<section class="section" id="speakers">
  <div class="container">
    <h2 title="section__title">speakerss</h2>
    <ul class="speakers">
      <li class="speakers__item">
        <img src="#" alt="speakers Molly Rivera" width="130" height="131" />
        <h3 class="speakers__name">Molly Rivera</h3>
        <p class="speakers__about">Pastry chef, master chocolatier of Spain</p>
      </li>
      <li class="speakers__item">
        <img src="#" alt="speakers Sophia Clark" width="130" height="131" />
        <h3 class="speakers__name">Sophia Clark</h3>
        <p class="speakers__about">Сulinary school pastry chef</p>
      </li>
      <li class="speakers__item">
        <img src="#" alt="speakers Isabella Taylor" width="130" height="131" />
        <h3 class="speakers__name">Isabella Taylor</h3>
        <p class="speakers__about">Сonsultant in the art of confectionery</p>
      </li>
      <li class="speakers__item">
        <img src="#" alt="speakers Evelyn Miller" width="130" height="131" />
        <h3 class="speakers__name">Evelyn Miller</h3>
        <p class="speakers__about">Master-chocolatier in Spain</p>
      </li>
    </ul>
  </div>
</section>
