.hero-title{
<<<<<<< Updated upstream
    background-image: url('../images/images-hero/hero-image-1x-mob-min.jpg') ;
    min-width: 320px;
=======
    background-image: url(../images/images-hero/hero-image-1x-min.jpg) ;
    
    max-width: 480px;

>>>>>>> Stashed changes
    height:auto;
    padding: 86px 20px 9px 20px;
}
@media screen and (min-width: 1280px){
    .hero-title{
        background-image: url(../images/images-hero/hero-image-2x-min.jpg) ;
        
        max-width: 480px;
    
        height:auto;
        padding: 171px 507px 90px 16px;
.hero-title-text{
    max-width: 280px;
    height: 130px;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    
}
.hero-title__post{
    font-style: 500;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 25px;
}}