.program {
  padding-top: 28px;

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $brown-clr;
    margin-bottom: 8px;
    text-align: center;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $brown-clr;
    margin-bottom: 8px;
  }

  &__list {
    margin-bottom: 16px;
  }

  &__item::before {
    content: '#';
    margin-right: 8px;
  }

  &__read__more {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $brown-clr;
  }

  &__read__more__text {
    display: none;
  }
}
