.program {
  padding-top: 28px;
  padding-bottom: 36px;

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $brown-clr;
    margin-bottom: 8px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $brown-clr;
    margin-bottom: 8px;
  }

  &__list {
    margin-bottom: 16px;
  }

  &__item::before {
    content: '#';
    margin-right: 8px;
  }

  &__read__more {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $brown-clr;
  }

  &__read__more__text {
    display: none;
  }

  &__thumb{
    outline: 1px solid blue;
    // width: 130px;
    // height: 130px;
    border-radius: 50%;
  }

&__pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 1px solid tomato;
}


// &_pic_item{
//     position: relative;
// }

// &__pic{
//     object-fit: cover;
//     border-radius: 50%;
//     background: linear-gradient(359.99deg, #000000 -9.2%, rgba(156, 156, 156, 0) 97.68%);
//     border: 1px solid #F3848C;

// }

// &__pic__text{
//     position: absolute;
//     left: 0;
//     bottom: 0;

// }


}



